﻿@model IEnumerable<Practica.Models.InvoiceDetailViewModel>


@{
    ViewData["Title"] = "InvoicesDetails";
}

<h1>Invoices Details</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellPrice)
                </td>
                <td class="total">
                    @Html.DisplayFor(modelItem => item.Total)
                </td>


            </tr>
        }
    </tbody>
</table>

<div class="form-group">
    <label>Total de factura:</label>
    <label id="totalValue"></label>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(document).ready(function () {

            var totalValue = 0;
            $(".total").each(function () {
                totalValue += parseFloat($(this).html()) || 0;
            });

            $("#totalValue").text(totalValue);

        });
    </script>
}
